body {
  background-color: black;
  opacity: 0.9;
  font-family: "Helvetica", serif;
  font-size: 22px;
  color: seashell;
  width: 100%;
  margin: auto;
  text-align: center;
}

header {
  background-color: black;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
}

nav span {
  padding: 0px 10px;
}

a {
  color: seashell;
}

h3 {
  margin: 0px;
}

.logo {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;
}


.content {
  position: relative;
  top: 69px;
  height: 100%;
  max-width: 1200px;
  margin: auto;
  /* border: 1px solid white; */
  text-align: center;
}

.mission {
  display: flex;
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.divider {
  width: 1200px;
  background-color: black;
  text-align: center;
}

.featured {
  max-width: 1000px;
  margin: 0px auto 40px;
  /* border: 1px solid white; */
}

.tea-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px auto 10px;
}

.tea-item {
  display: block;
  /* border: 1px solid white; */
  margin-bottom: 20px;
}

.tea-image {
  height: 200px;
  width: 300px;
  /* border: 1px solid blue; */
  margin: 10px;
}

#berry {
  background-image: url("../images/img-berryblitz.jpg");
  background-size: cover;
}

#rum {
  background-image: url("../images/img-spiced-rum.jpg");
  background-size: cover;
}

#donuts {
  background-image: url("../images/img-donut.jpg");
  background-size: cover;
}

#myrtle {
  background-image: url("../images/img-myrtle-ave.jpg");
  background-size: cover;
}

#bedford {
  background-image: url("../images/img-bedford-bizarre.jpg");
  background-size: cover;
}

.locations {
  min-height: 500px;
  /* border: 1px solid white; */
  background-image: url("../images/img-locations-background.jpg");
  background-size: cover;
  text-align: center;
  padding-top: 60px;
  margin: 0px auto 40px;
}

.locations h2 {
  margin-bottom: 15px;
}

.location-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
}

.location-item {
  height: 300px;
  width: 300px;
  margin: 0px 20px 20px;
  background-color: black;
  opacity: 1;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
}

.contact {
  height: 200px;
  /* border: 1px solid white; */
}

footer {
  text-align: left;
  margin: 0px 0px 20px 20px;
}
